@charset "utf-8";
/* CSS Document */
*{ box-sizing: border-box; }
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
html, body {
	max-width: 100%;
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
	padding: 18px 0;
}
nav h1 a {
  color: #fff;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 17px;
    margin: 0;
    width: 50%;
		box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options-container {
  width: 100%;
	padding: 15px 10px;
  min-height: 50px;
  background-color: #3397DB;
  align-items: center;
}
@media screen and (max-width: 399px){
	.filter-options-container{
		padding: 20px;
	}
}
.filter-options {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	padding: 0 20px;
}
#restaurants-list .card {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}
@media screen and (min-width: 780px){
	#restaurants-list .card {
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 30px;
	}
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Grid ====================== */
.grid:before,
.grid:after { content:""; display:table; }
.grid:after { clear:both;}
.grid { zoom:1; width: 100%; padding: 0;}

.col {
	width: 100%;
	display: block;
	float:left;
	padding: 1% 10px 1% 10px;
}
.col:first-child { margin-left: 0; }

.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}


@media only screen and (max-width: 1100px){
	.col-1-3-md {
		width: 33.3333%;
	}
}

@media only screen and (max-width: 750px){
	.col-1-2-sm {
		width: 50%;
	}
	.col-1-4-sm {
		width: 25%;
	}
	.col-3-4-sm {
		width: 75%;
	}
}

@media only screen and (max-width: 550px){
	.col-1-2, .col-1-4, .col-3-4 { width: 100%; }
}

/** Helpers **/
.mt-1{ margin-top: 5px !important; }
.mt-2{ margin-top: 10px !important; }
.mt-3{ margin-top: 15px !important; }
.mt-4{ margin-top: 20px !important; }
.mt-5{ margin-top: 25px !important; }
.mb-1{ margin-bottom: 5px !important; }
.mb-2{ margin-bottom: 10px !important; }
.mb-3{ margin-bottom: 15px !important; }
.mb-4{ margin-bottom: 20px !important; }
.mb-5{ margin-bottom: 25px !important; }

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix{ clear: both; }

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 91%;
  position: fixed;
  right: 0;
  top: 75px;
  width: 50%;
	z-index: 1000;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2, #reviews-container .h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  list-style-type: none;
  display: block;
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
}
.review-body {
	margin-left: 10px;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  padding: 20px;
  width: 100%;
}
.review-author{
	display: inline-block;
	background-color: #333;
  color: #ddd;
  font-size: 11pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 5px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}



/** RESPONSIVE RESTAURANT PAGE **/
@media screen and (max-width: 980px){
	#breadcrumb{
		width: 100%;
	}
	.inside #map-container{
		position: relative;
		width: 100%;
		height: 40vh;
		top: 125px;
	}

	#restaurant-container, #reviews-container{
		float: left;
		padding: 140px 40px 30px;
	}

	.inside #footer{
		position: relative;
		width: 100%;
	}
}
@media screen and (max-width: 750px){
	#restaurant-container, #reviews-container{
		float: none;
		width: 100%;
	}

	#reviews-container{
		padding: 30px 40px;
	}
}
@media screen and (max-width: 380px){
	#restaurant-container, #reviews-container{
		padding-left: 20px;
		padding-right: 20px;
	}
}


.connection-error{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: #fff;
  font-size: 16px;
  text-align: center;
  z-index: 100000;
  padding: 8px;
  display: none;
}
  input, select, textarea, button{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 14px;
  }
  hr{
    margin: 30px 0;
  }
  button{
    border-radius: 5px;
    background-color:#f90;
    color:#fff;
    font-size: 18px;
    padding: 5px;
    width: 100%;
  }